*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
.merlin
.DS_Store

.bsb.lock
lib/bs
/node_modules
test/**/*.js
doc/tags

!rescript-vscode/extension/node_modules
!rescript-vscode/extension/server/node_modules/
!rescript-vscode/extension/server/darwin/rescript-editor-support.exe
!rescript-vscode/extension/server/linux/rescript-editor-support.exe
!rescript-vscode/extension/server/win32/rescript-editor-support.exe

rescript-vscode/extension/server/node_modules/.bin/

examples/**/node_modules
examples/**/lib
examples/**/src/*.js
examples/**/.merlin
