*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
.merlin
.DS_Store

.bsb.lock
lib/bs
node_modules
test/**/*.js
doc/tags

server/**/*.d.ts
server/**/*.js.map
server/node_modules/.bin

# We don't need that file
server/analysis_binaries/README.md

# We need to vendor node_modules and all the executables
!server/**/node_modules/
!server/analysis_binaries/darwin/rescript-editor-analysis.exe
!server/analysis_binaries/linux/rescript-editor-analysis.exe
!server/analysis_binaries/win32/rescript-editor-analysis.exe

examples/**/node_modules
examples/**/lib
examples/**/src/*.js
examples/**/.merlin
